@use 'globals' as g;

#blog-archive-main-page-area{
    
    
    margin-top: 1rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: 65rem;
    
}