@use 'globals' as g;

#header-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex: 0 1 auto; 
    width: 100%;   
    max-width: inherit; 
    
}

.header2 {
    width: 100%;
    max-width: inherit; 
    position: fixed;
    top: 0;
    z-index: 1;
    transition: 0.1s;   
    background-color: g.$primary;
    
    
}




.logo2{
    
    max-width: 9rem;
    content: url(Assets/logos/weare-logo-no-background.png);
    padding:0.4rem 0.3rem 0.3rem 0.2rem ;

    

    
  }
