
@use 'globals' as g;

#header{
    width: 100%;
    max-width: inherit;
    align-items: center;
    align-content: center;
    z-index: 5; 
}


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex: 0 1 auto;   
    max-width: inherit; 
    width: 100%;
    
    
    
}

.header1{
    position: fixed;
    width: 100%;
    max-width: inherit;
    top: 0;
    z-index: 1;
    transition: 0.1s;   

}

.logo-col{
    display: flex;
    
    justify-content: center;
    align-content: center;
    
    
}

.logo1-container{
    //width: 20rem;
    display: flex;
    justify-content: center;
    align-content: center;
}

.logo-img{
    content: url(Assets/logos/weare-logo-no-background.png);
    max-width: 7rem;
}

.logo1{

    
   
  width: 100%;
  //max-width: 19rem;

  
  margin-top: 1.5rem;
  
  
  
  //content: url(Assets/logos/weare-logo-no-background.png);
  
  
  
}

.home-logo-link{
    text-decoration: none;
}

#logo1-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    

    h1, h2{
        font-weight: 500;

    }

    a:hover{
        color: white;
    }




    
}


.header-icon, header a{
    color: white;
    
}

.header-icon:hover, header a:hover{
    

   
        color: g.$weare-blue-sky;
    
    
}

button.hamburger{
    padding: 0!important;
}






.hamburger-col{

    
    font-size: 1.5rem;
    z-index: 2;
    
  
}

.hamburger{
    
    //margin-left: .5rem;
}

.social-col{
    z-index: 2;
    font-size: 1.2rem;    
    display: flex;
    
    //padding-right: 1.5rem;
    justify-content: flex-end;
    
    align-items: center;
    a{
        text-decoration: none;
    }
  
}

.social-links{
    display: flex;
    padding-top: 0.4rem;
    padding-left: 1.7rem;

}

.social-links:target{
    text-decoration: none;
}

.nav-box{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    

    
    
}

/* Header Search */

#header-search-container{
    width: 100vw;
    //max-width: inherit;
    background-color: g.$weare-blue-sky;
    padding: 0;

    height: 0; /*  change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    
    overflow-y: hidden; /* Disable horizontal scroll */
    
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */

}

.search-input-box{
    padding: 0.6rem 0.5rem 0.2rem 0.5rem;

    
   
}

.search-left{
    
    flex: 1;
}

.custom-form{
    display: flex;
}



#site-search{
    flex: 1;
    
    padding-bottom: 0.4rem;
}



#header {
    transition: margin-top .5s;
    padding: 20px;
  }

#site-search{
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    padding-left: 1rem;
}

#site-search-icon{
   align-self: center;
}

#searchsubmit{

    display: none;

    /*
    border: none;
    background-color: transparent;
    color: white;
    */
}

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

#site-search-icon{
    color: white;
}

header{
    button{
        background-color: transparent;
        border: none;
    }
}