@use 'globals' as g;
  
  /*HERO Slider*/
  
  .slide {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
/*
  .slide-img1{
    content: url(Assets/images/2000px/school.jpg);
  }

  .slide-img2{
    content: url(Assets/images/2000px/forest-school.jpg);

  }

  .slide-img3{
    content: url(Assets/images/2000px/boys-on-pc.jpg);

  }


 */

  
   
    //hero loader

    video.loading {
      background: g.$muted url(Assets/logos/loader1.gif) center center no-repeat;
    }

/*   
#preloader {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  /* change if the mask should have another color then white */
  //z-index: 99;
  /* makes sure it stays on top 
}

*/
/*

#status {
  width: 200px;
  height: 200px;
  position: fixed;
 
  left: 50%;
  /* centers the loading animation horizontally one the screen 
  top: 50%;
  // centers the loading animation vertically one the screen 
  background-image: url(Assets/logos/preloader.gif);
  // path to your loading animation 
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
  /* is width and height divided by two 
}
 
*/
    .hero-video{
      object-fit: cover;
    }

   .overlay-hero{
      background-image: linear-gradient(rgba(9,9,9,.22),transparent,rgba(9,9,9,.22));
    
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index:1;
    }
   
    $assetPath :"../../../Assets";

    /*
  .slide-2 {
    background:url(../../themes/kow22/Assets/images/hockey-church.jpg) center no-repeat;
    background-size:cover;
    }
      /*
    .slide-3 {
    background:url(../../themes/kow22/Assets/images/3d-printer.jpg) center no-repeat;
    background-size:cover;
    }
    .slide-4 {
    background:url(../../themes/kow22/Assets/images/boy-on-pc.jpg) center no-repeat;
    background-size:cover;
    }

   

    .slide-img{
      width: 100%;
      height: auto;
    }

    /* Announcement Slider */

    .slick-track{
      position: relative;
    }

    .announcement-wrapper{
      position: absolute;
      bottom: 8.5rem;
      right: 0.6rem;  

    }

    #announcement-wrapper{
      button{
        background-color: transparent;
        border: none;
        color: white;
      }

      .announcements-title{
      
        margin-bottom: 1.5rem;
        color: white;
        
      }
      .announcement-content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 5rem;
        flex: 1 0 auto;
        color: white;

        h1, h2, h3 ,h4 ,h5, h6, p{
          color: white;
        }
      }
    }

    .announcement-box{
      background-color: g.$primary;
      width: 15rem;      
      padding: 1rem;
      min-height: 14rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      color: white;
 
      
       
      
    }

    .announcement-section-container{

      h1, h2, h3 ,h4 ,h5, h6, p{
        color: white;
      }
    }

    


    .announcement-link{
      margin-top: 3rem;
    }
    
    .hero-wrapper{
      position: relative;
      height: 100vh;
    }

    .hero-wrapper a{
      color: white;
      
    }

    .hero-wrapper a:hover{
      color: white;
      
    }

    a.hero-arrow{
      //font-size: 1.7rem;
    }

    a.hero-arrow i{
      font-size: 1.7rem;
    }


    .title-line{
      
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-grow: 0;
      height: fit-content;
    }



    .bell-background{
      height: 2.5rem;
      width: 2.5rem;
      border-radius: 25rem;
      background-color: g.$primary;
      text-align: center;
      display: flex;
      //border: 1px solid white;
     
      justify-content: center;
      align-content: center;
      position: absolute;
      right: 1.2rem;
      bottom: 9.3rem;
      
    }
    
 
    .ringing-bell{
      position:absolute;
      align-self: center;
      justify-self: center;
      color: white;
      
      transition:translate(-50%,-50%);
  }

.hero-arrow-container{
  
  position: absolute;
  bottom: 1.2rem;
  width: 100%;
}

.hero-banner-text{
  margin-bottom: 1.3rem;
  font-size: 2.1rem;
  
}

.hero-banner-text-bold{
  font-weight: 300;
}


.hero-banner-text-container{
  
  position: absolute;
  bottom: 3.2rem;
  width: 100%;
}
  
/* Sidebar Navigation */




#sidebar-nav{
  height: 100vh; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 99; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color:g.$primary ; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  // white-space: nowrap;
  
  max-width: 90vw;


  
  
  box-sizing: border-box;
  overflow-x: hidden; /* Disable horizontal scroll */
  
  
  transition: 1s; /* 1 second transition effect to slide in the sidenav */

  a{
    font-family: 'Open Sans', sans-serif;
   
    

  }





}

#sidebar-nav{

  

  a.bellows-target{
    min-width: fit-content;
  }

  .primary-menu-container{
    
    width: 100%;
    word-wrap: break-word;
    margin: 7rem 0 0 0; 
    width: 100%;
    position: absolute;
    background-color: transparent;
    
  }
  
  a.closebtn{
    color: white;
    font-size: 24px;

  }
  button.bellows-subtoggle{
    width: 100%!important;
    justify-content: flex-end!important;
   padding-right: 2rem;
  }
}

#sidebar-nav::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}
#sidebar-nav::-webkit-scrollbar-thumb {
  border-radius: 8px;
  -webkit-box-shadow: inset 0 0 8px rgba(0,0,0,.6);
  background-color: g.$light-dark;
}
#sidebar-nav::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 8px;
  background-color: #F5F5F5;
}

.sidebar-container{

  height: fit-content;
  width: 100%;
  
  position: relative;

}

.closebtn-box{
  height: 2.2rem;
  width: 2.2rem;
  position: absolute;
  top: 0;
  right: 0;
  
  margin-left: 50px;
  //background-color: g.$secondary;
  display: flex;
  justify-content: center;
  align-content: center;

}





/* Navbar */









  



