@use 'globals' as g;

#news{
  //background-color: g.$light;
  //padding-top: 4rem;
  //padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0 3rem 0;

  a{
    text-decoration: none;
  }

  .card-body{
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.news-card-line-container{
  border-top: 7px solid g.$accent;
  height: fit-content;
  width: 40%;
  transition: 0.3s ease-in-out;
}


.news-overlay{
  
  height: 100%;
  width: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  
  
  transition: 0.3s ease-in-out;
  background-color: g.$accent;
}


.section-headings{
  width: 100%;
}

.card{
  border: none;
  background-color: white;
  //border: g.$light 1rem solid;
  //box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  min-height: fit-content;
  width: 100%;
  
  

  a{
    text-decoration: none;
  }
  
}

.card-top{
    max-height: 15rem; 
    width: 100%;
    
}

.card-img-container{
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 200px;
  width: 100%;
  overflow: hidden;
  position: relative;
  //padding: 0.5rem 0 0.5rem 0;

  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  
}


.card-img-top{
  
    
    border-radius: 0;
    //content: url(Assets/logos/weare-logo-no-background.png);
    //transition: .5s ease;
    width: 100%;
    height: auto;
    transition: .3s ease-in;
    

    
    
}

/*

.card-img-top-hover{
  scale: 1.05;
}

*/
.news-row{
  height: fit-content;
}

.news-card-container-container{
  //max-width: 1000px;
  min-width: 50%;
  padding-left: 3rem;
  padding-right: 3rem;
  display: flex;
  justify-items: center;
}



/*.card-body{
  pointer-events: none;
}*/

#news-card-container{
  position: relative;
  width: 100%;

  
  
}



.news-card-title{
  color: g.$primary;
}

.news-date{
  margin-top: 1rem;
  margin-bottom: 0;
  color: g.$dark;
  &:hover{
    color: g.$dark;
  }
}



.news-card-content{
  width: 100%;
  min-height: fit-content;
  
}

.news-card-link{
    width: 100%;
  height: 100%;
  transition: 0.7s ease-in;
}



a .card-body-text{
  color: g.$dark;
  &:hover{
    color: g.$dark;
  }
  & .news-card-date{
    font-size: 0.9rem;
    color: g.$muted;
    &:hover{
      color: g.$muted;
    }
  }
}

.news-card{
  min-height: 20rem;
  transition: 0.7s ease-in-out;
  
}

.news-card-hover{
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);

  .news-card-line-container{
    width: 100%;
    
  }

  .news-overlay{
    opacity: 0.2;
    
  }
}

.pagination-container{
  display: flex;
  justify-content: center;
  font-weight: bold;

  span{
    color: g.$muted-light;
  }

  span, a{
    //padding: 1rem;
  }
}



