@use 'globals' as g;

#SideNav{
    
    width: 100%;
    
    padding-bottom: 0.1rem;


    
    
     
  }

  
  
  
  #SideNav .list-group.panel > .list-group-item {
    border-radius: 0;
    border: none;
  }
  



  

  

  
