@use 'globals' as g;



table{
    border: none;
    width: 100%;

    
    td{
        border: none;
    }

    th{
        border: none;
        padding: 0.5rem;
    }

    tr{
        font-size: 0.9rem;
        vertical-align: text-top;
    }
}

.wp-block-table{

    td{
        border: none;
    }

    th{
        border: none;
    }

    tr{
        font-size: 0.9rem;
        vertical-align: text-top;
    }

}




  
td {
   
    padding: 0.5rem;
    &:not(:first-child){
        border-left: g.$light 2px solid;

    }
  }
  
 tr:nth-child(odd){background-color: g.$primary-light;}
 tr:nth-child(even){background-color: g.$light-light;}
  


th {
    
    text-align: left;
    vertical-align: text-top;
    background-color: g.$primary;
    color: white;
    font-size: 0.9rem;
    padding: 0.8rem;
    border-top: 0!important;
    border-right: 0!important;
    border-left: 0!important;
    border-bottom: g.$light 2px solid;
    font-weight: 500;
  }


  .wp-block-table thead{

    border: none!important;
  }
