/* WELCOME SECTION */


@use 'globals' as g;

#welcome{
    background-color: g.$primary;
    
    padding: 3rem 0 3rem 0;
    scroll-margin-top: 10rem;

    .welcome-title{

        color: white;
    }


    .welcome-text-content{

        color: white;
    }

    .welcome-excerpt{
       margin-bottom: 2rem;
    }

    a{
        color: white;
        &:hover{
            //color: g.$purple;
        }
    }
    
}



.img-container{
    position: relative;
    width: 100%;
    aspect-ratio: 1;
    
    video{
        width: 100%;
        height: auto;
    }
}