$body-color: #231F20;
$body-bg: #F5F5F5;
$overlay:hsla(248, 95%, 15%, 0.2);

// Kow Colors

$dark-purple:  #411763;
$purple:  #5B2A84;
$muted-purple:  #7152a3;
$green:   #b3d82b;
$green-light: #e5ebc3;
$light:   #F5F5F5;
$light-light:   #f0f0f0;
$light-dark: #F2F2F2;
$dark:    #231F20;
$muted:    #424242; 
$muted-light:    #7e7e7e; 
$muted-light-light:    #b4b3b3;

// Weare Colors 

$weare-blue: #2D4190;
$weare-blue-dark: #25367a;
$weare-blue-darker: #192245;
$weare-blue-light: #e2e6f8;
$weare-blue-sky: #90ccee;
$wlt-purple: rgba(65,16,81);


$primary:       $weare-blue;
$primary-dark: $weare-blue-dark;
$primary-light: $weare-blue-light;
$secondary:     $light-dark;
$success:       $muted-purple;
$accent:        $muted-purple;